body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}